<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agenda | I amtheater</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo-icon.ico"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link href="css/agenda.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html"><img src="images/logo-nav.png" width="110" alt="Logo image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="agenda.html">Agenda<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="english.html">In English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="workshops.html">Workshops</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm align-middle btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <header>
                <h5>Agenda from <input type="date" value=""></h5>
            </header>
        </div>
        <div class="row articles-container">
            <div class="col-md-2"></div>
            <div class="row col-md-8 article-container">
                <div class="col-md-2">
                    <!-- <img src="https://www.brakkegrond.nl/files/styles/sidebar_image/public/theater_1718/yinka_kuitenbrouwer_-_bart_grietens-1b.jpg?itok=0nE4H7xp" class="img-fluid image-current" alt="Play's image"> -->
                </div>
                <article class="col-md-8">
                    <a href="content.html"><h3>Title of the play</h3></a>
                    <p>A few words about the play.</p>
                </article>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item"><a href="">About</a></li>
                <li class="list-inline-item"><a href="">Contact</a></li>
                <li class="list-inline-item"><a href="">Sign up</a></li>
            </ul>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>