footer.footer
    div.container-fluid
        ul(class="list-unstyled list-inline text-center")
            li.list-inline-item
                p.email Send us an email:
                    a(href="mailto:info@iamtheater.nl") info@iamtheater.nl
            li.list-inline-item
                div.container-fluid
                    //- form(class="form-inline" id="newsletterRegister" role="form" action="/signUp" method="POST")
                    p.signup Sign up for our newsletter: 
                        input(type="email" name="email" id="email" placeholder="Your email")
                        button(type="submit" value="send" onclick="submitEmail()")
                            i(class="fa fa-send" style="font-size:23px;")                              
script
    .src="js/bootstrap.min.js"
script      
    .src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
