meta(charset="utf-8")
link(rel="shortcut icon" type="image/x-icon" href="/images/logo-icon.ico")
link(href="/css/bootstrap.min.css" rel="stylesheet")
link(href="/css/header.css" rel="stylesheet")
link(href="/css/footer.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto:500,700,900|Roboto+Mono|Roboto+Slab|Roboto+Slab:400,700" rel="stylesheet")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
script(src="/js/redirectToDate.js")
script(src="/js/showMessage.js")
script(src="/js/submitEmail.js")
