<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>I amtheater</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo-icon.ico"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:400,700" rel="stylesheet">
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
</head>
<body>
    <header>
        <div class="row well text-center">
            <div class="col-md-12">
                <a href="/"><img src="images/logo-main.png" class="img-fluid" alt="Logo image"></a>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="row well well-lg text-center">
            <div class="col-md-4">
                <a href="agenda"><h3>Agenda</h3>
                <p>See all up coming shows.</p></a>
            </div>
            <div class="col-md-4">
                <a href="international"><h3>For Internationals</h3>
                <p>See all shows in english or other languages.</p></a>
            </div>
            <div class="col-md-4">
                <a href="/"><h3>Workshops</h3>
                <p>Checkout theater workshops in english.</p></a>
            </div>
        </div>
    </main>
    include ./footer.pug