main.container {
    margin-top: 5em;
    margin-bottom: 10em;
}

main header a.play-url:hover{
    text-decoration: none;
}

main header a.play-url h3:hover{
    color: black;
    background-color: yellow;
}

main header h3.play-title {
    background-color: black;
    margin-left: 0.6em;
    padding: 0.3em 0.6em 0.3em 0.6em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: white;
}

main article div.play-information{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em 2em 0 2em;
    border: 5px solid black;
}

main article div p.director {
    color: #8A9891;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    margin-left: 0.7em;
}

main article div.pull-left img {
    padding-right: 1.3em;
    padding-bottom: 1em;
}

main article div p.language {
    padding-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

main article a.theater:hover {
    text-decoration: none;
    color: #8A9891;
}

main article a.theater {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 1em;

}

main article p.play-date {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 700;
    display: inline-block;
    padding: 0.3em 1em 0.3em 1em;
    margin-bottom: 1.8em;
    color: yellow;
    background-color: black;
}

main article div span.address {
    padding-right: 0.5em;
    padding-left: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main article div span.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (max-width: 480px) {
    .container h3{
        margin-top: 5em;
    }
}

@media (max-width: 960px) {
    .container h3{
        margin-top: 5em;
    }
}

@media (min-width: 1200px) {

    .container h3 {
        margin-top: 4em;
    }
}

