main.container {
    margin-top: 13em;
    margin-bottom: 13em;
}

main header h5.current-date {
    background-color: black;
    margin-left: 0.8em;
    padding: 0.3em 0.8em 0.5em 0.8em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #8A9891;
}

main article div.play-information{
    margin-top: 1.3em;
    border: 5px solid black;
}

main article h4.play-title {
    margin: 1em 0.7em 1em 0.5em;
    border-right: 3px solid #8A9891;
}

main article h4.play-title a {
    color: #8A9891;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    font-weight: 700;
}

main article h4.play-title a:hover {
    text-decoration: none;
    color: black;
}

main article div.theater {
    padding-top: 1.7em;
}

main article a.theater {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}


main article a.theater:hover {
    text-decoration: none;
    border-bottom: 3px solid black;
}

main article div.play-date {
    background-color: yellow;
}

main article div.play-date p {
    padding-top: 1.2em;
    padding-left: 1em;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 700;
}

main div.info {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #8A9891;
    margin-top: 1em;
}


@media (max-width: 480px) {
    .container {
        margin-top: 8em;
    }
}


@media (min-width: 1200px) {
    .container h3 {
        margin-top: 4em;
    }
}

