html {
    position: relative;
    min-height: 100%;
}

body {
    /*Margin bottom by footer height*/
    margin-bottom: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*Set the fixed height of the footer here*/
    height: 90px;
    padding: 40px;
    background-color: black;
}

.footer a {
    border: 0.1em solid yellow;
    margin: 0 0.7em 0 0.7em; 
    padding: 0.5em 1em 0.5em 1em;
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.footer a:hover {
    color: black;
    background-color: yellow;
}

@media (max-width: 480px) {
    body {
        margin-bottom: 150px;
    }
    .footer {
        height: 150px;
    }
    .footer a {
        border: none;
        margin: 0;
        padding: 0;
        color: yellow;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        text-decoration: none;

    }
    .footer a:hover {
        color: white;
        background-color: black;
    }
}
